<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p>
    </div>

    <h2>Data</h2>

    <% if (person) {  %>
            <h2><%= person.name %><h2>
            <h3><%= person.other %></h3>
    <% } %>

</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
